<section class="why-choose {{name}} {{ module.style.section_bg }}">
  <div class="page-center">
    <div class="two-col-holder">
      <div class="left-col">
        <div class="heading-area">
          <h2 class="m_heading">{{ module.heading_group.heading }}</h2>
          <div class="description"> {{ module.heading_group.description }}</div>
        </div>
        {% if module.enable_list %}
        <div class="list-area">
          {% for item in module.list_item %}
          <div class="list-wrapper">
            <div class="icon-holder {{ item.box_bg_color }}">{{ item.svg_code }}</div>
            <div class="text-holder">
              <h3 class="list-heading">{{ item.heading }}</h3>
              <div class="list-description">{{ item.description }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <!-- testimonial -->
        {% if module.enable_testimonial %}
        <div class="testimonial">
          <div class="top-content">
            <div class="users-group">
              <div class="user_wrapper primary-gradient">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              </div>
              <div class="user_wrapper primary-gradient">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              </div>
              <div class="user_wrapper primary-gradient">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              </div>
              <div class="user_wrapper primary-gradient">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              </div>
            </div>
            <div class="ratings-group">
              <div class="stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>
              </div>
              <p>{{ module.testimonial_content.ratings_text }}</p>
            </div>
          </div>

          <p class="testimonial_text">{{ module.testimonial_content.testimonial_text }}</p>
          <p class="author_name">{{ module.testimonial_content.author_name_designation }}</p>
        </div>
        {% endif %}
      </div>
      <div class="right-col">

        <div class="image-wrapper">
          {% if module.right_column_content.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.right_column_content.image_field.width|escape_attr }}" height="{{ module.right_column_content.image_field.height|escape_attr }}"' %}
          {% if module.right_column_content.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.right_column_content.image_field.width|escape_attr }}" height="{{ module.right_column_content.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.right_column_content.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.right_column_content.image_field.max_width|escape_attr }}" height="{{ module.right_column_content.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.right_column_content.image_field.loading != 'disabled' ? 'loading="{{ module.right_column_content.image_field.loading|escape_attr }}"' : '' %}
          <img src="{{ module.right_column_content.image_field.src|escape_url }}" alt="{{ module.right_column_content.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>

        {% if module.right_column_content.enable_bottom_content %}
        <div class="bottom-content">
          {% for item in module.right_column_content.bottom_content %}
          <div class="content-box {{ item.box_bg_color }}">
            <div class="h_text">{{ item.heading_text }}</div>
            <div class="desc-text">{{ item.description_text }}</div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>

{% require_css %}
<style>
  {% scope_css %}
  .why-choose {
    {{ module.style.desktop_spacing.css }};
    background: {{ module.style.section_bg == "white" ? '#FAFAFA' : '#F5F7FA' }};
  }

  @media (max-width:1023px) {
    .why-choose {
      {{ module.style.mobile_spacing.css }};
    }
  }
  {% end_scope_css %}
</style>
{% end_require_css %}
