.footer-main{
  background: #f9fafb;
  border-top: #e5e5e5 solid 1px;
  padding: 1.6rem 0;
}
.footer-top{
  display: flex;
  gap: 1.6rem;
}
.footer-top .footer-col{
  max-width: 25%;
  width: 100%;
}
.footer-top .info-area img{
  max-width: 40%;
  width: 100% !important;
  margin-bottom: 10px;
}
.footer-top .info-area p{
  font-size: 14px;
  margin: 0;
}
.footer-top .footer-col h4{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.footer-top .footer-col ul li{
  display: block;
  width: 100%;
}
.footer-top .footer-col ul li:not(:last-child){
  margin-bottom: 4px;
}
.footer-top .footer-col ul li a{
  color: #111827;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
.footer-top .footer-col ul li a:hover{
  color: #000;
}
.footer-bottom{
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  text-align: center;
  border-top: #e5e5e5 solid 1px;
}
.footer-bottom p{
  color: #111827;
  font-size: 14px; 
  margin: 0;
}
@media (max-width: 991px){
  .footer-top .info-area img {
    max-width: 60%;
  }
}
@media (max-width: 767px){
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-top .info-area img {
    max-width: 40%;
  }
  .footer-top .footer-col {
    max-width: 47%;
    width: 100%;
  }
}
@media (max-width: 575px){
  .footer-top .footer-col {
    max-width: 100%;
    text-align: center;
  }
  .footer-top .info-area img {
    max-width: 140px;
  }
}